/* body {
    text-align: center;
}

.cell {
    height: 100px;
    width: 100px;
    border: 1.5px solid grey;
    border-style: inset;
}

.blackcell {
    background-color: black;
}

.whitecell {
    background-color: white;
}
.firstCell{
    background-color: blue;
}
table[class="mytable"] > tr:first-child > td:first-child{
background-color: red;
    background-image: url("mario.png");
} */

/* body {
    text-align: center;
}

.cell {
    height: 50px;
    width: 120px;
    border: 1.5px solid grey;
    border-style: inset;
}

.blackcell {
    background-color: lightseagreen;
}

.whitecell {
    background-color: white;
    background-image: url("index.jpeg");
    background-size: cover
   
}
.white{
    background-image: url("mario.png");
    background-size: cover;
} 
.cells-img{
    height: 40px;
    width: 40px;
} */
/* table[id="new"] > tr:first-child > td:first-child{
    background-color: red;
        background-image: url("mario.png");
    }  */

    .cell {
        margin: 0;
        padding: 0;
        height: 80px;
        width: 80px;
        border: 1.5px solid grey;
        /* border-style: inset; */
    }
    
    .blackcell {
        background-color: rgb(9, 75, 75);
    }
    
    .whitecell {
        background-color: white;
    }
    .cell-img{
        display: block;
        height: 80px;
        width: 80px;
        visibility: hidden;
    }
    .cells-img{
        display: block;
        height: 80px;
        width: 80px;
        visibility: visible;
    }
    
    #grid{
        margin: 50px auto;
    }
    .container{
        text-align: center;
        margin: 13px;
    }
    .btn{
        padding: 20px;
        background-color: blue;
        border: 1px solid black;
        color: white;
        font-size: 19px;
        border-radius: 5px;
    }
    .homepage{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    #heading{
        font-size: 100px;
    }
    .home{
        background-color: violet;
    }
    .home-btn{
        padding: 30px 50px;
        font-size: larger;
        background-color: black;
        color: aliceblue;
        border-radius: 10px;
        cursor: pointer;
    }
    .home-btn:hover{
        background-color: white;
        color: black;
    }
